<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Adopt a Pet</h1>
    <p>Browse through the links below to find your new furry friend:</p>
    <ul>
      <a><li>Dogs</li></a>
      <a><li>Cats</li></a>
      <a><li>Rabbits</li></a>
    </ul>
  </body>
</html>
