*{
  box-sizing: border-box;
}
body{
  background: #0d1117;
}

.App {
  text-align: left;
  margin: auto;
  color: #fff;
}
.empty-page-msg{
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  color: #c0bfbf;
  display: flex;
  justify-content: center;
}
.ooops{
  /* background: #fff; */
}
.ooops-btn{
  width: 120px;
  position: relative;
  margin-left: 900px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2em;
  background: #0ea0f4;
}
.ooops-btn:hover{
  background: #148dd3;
  cursor: pointer;
}