body{
    background-color: #555;
}

.container{
    background-color: #967575;
}

#input{
    display: flex;
    flex-wrap: nowrap;
}
#message{
    color: red;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
}